#gbr1 {
    display: block;
    background-color: lightskyblue;
    padding: 20px;
    border: 10px solid red; 
    margin: 0px;
}
#gbr2 {
    display: block;
    background-color: lightskyblue;
    padding: 20px;
    border: 10px solid red; 
    margin-left: 180px;
}
#gbr3 {
    display: block;
    background-color: lightskyblue;
    padding: 20px;
    border: 10px solid red; 
    margin-left: 360px;
}
